body {
    font-family: Arial, sans-serif;
    background-color: rgba(33, 143, 0, 0.815);    
    color: rgb(250, 250, 250);
}
.conteiners {
    border: 0px;
}
.filters {
    border: 0px;
    margin-bottom: 10px;
}
#filtersConteiner {
    background-color: rgba(26, 112, 0, 0.815);
    padding: 10px;
    margin-bottom: 20px;
}
#resultsConteiner {
    background-color: rgba(26, 112, 0, 0.815);
    padding: 10px;
}
label{
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
}
#filterType {
    color: rgb(177, 177, 177);
    background-color: rgb(49, 70, 42);
    border: 0px;
    border-radius: 3px;
    padding: 2px;
    width: 100%;
}